.dashHeader {
  display: block;
  margin: 10px 10px 0px;
}

.botAnalytics-bots {
  width: 100%;
}

.botAnalytics-bots .bots {
  width: 80%;
  max-width: 800px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  transition: 0.5s ease;
  margin-top: 20px;
  left: 5px;
}


.botAnalytics-bots .bots:hover {
  transition: 0.5s ease;
  left: 3%;
}

.botAnalytics-bots .botButtons {
  display: none;
}

.botAnalytics-bots .botContentContainer{
  width: 100%;
  margin:0;
  padding: 0%;
  height:auto;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
}

.botAnalytics-bots .stockSymbol {
  background-color: #498dcd;
  border-radius: 200px;
  width: 150px;
  height: 150px;
  position: absolute;
  top:35px;
  left:10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Box shadow for the circle */
}
.botAnalytics-bots  .stockLink a{
  text-decoration: none;
  color:white;
  transition: 0.5s ease;
  cursor: pointer;
  pointer-events: auto;

}

.stockSymbol:hover{
  transition: 0.5s ease;
  transform: scale(1.05);
}

.tooltiptext {
  visibility: hidden;
  width: 50px;
  height:50px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: small;
  border-radius: 200px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 65%;
  left: 100%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.stockSymbol:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.botAnalytics-bots .stockSymbol p {
  position: relative;
  top:25%;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Text shadow for 3D effect */
  }

.botAnalytics-bots .botName {
  width: 100px;
  width: 100%;
  height: 30px;
  right: 0px;
  position: absolute;
  font-size: large;
  border-radius: 20px 20px 0px 0px;
  background:linear-gradient(135deg, #a4c7ea,#b6d0ea);
  
}


.botAnalytics-bots .botName p{
  margin-top: 2px;
}

.stockData {
  width: 200px;
  position: absolute;
  left:150px;
  top:65px;
}

.stockDataContainer {
  display: flex;
  margin-left: 25%;
}

.stockDataContainer p {
  margin: 0;
  margin-right: 5px;
  padding: 0;

}

/* stock data container changes green with positive and red with negative */
.stockDataContainer.positive{
  color:green;
}
.stockDataContainer.negative{
  color:rgb(214, 4, 4);
}


.stockPrice {
  font-size: x-large;
}

.stockDollarChange,
.stockPercentChange {
  font-size: medium;
  margin-top: 5px;
}

.botAnalytics-bots .stockData {
  height: 100px;
  display: block;
  position: relative;
}


.botAnalytics-bots .transactionList{
  width: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 125%;
  top:0;
  justify-content: center;
  align-items: center;
}
.botAnalytics-bots .transactionList ul{
  justify-content: center;
  padding: 0;
  margin: 0;
  display:flex;
 }
.botAnalytics-bots .transactionList li{
  list-style:none;
 }

 .botAnalytics-bots .nullTransactions{
  position: relative;
  width:100%;
 }

/* aniamtion for loading content */

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.9);
  }
}

.botAnalytics-bots .stockData.errLoading p {
  animation: pulse 1.5s 3;
}


/* bot anayltics darkMode stuff */ 

.botAnalytics-bots .dark-mode .botName{
  background:linear-gradient(to bottom, #1a1a1a, #333333);

}

.botAnalytics-bots .dark-mode .stockSymbol{
  background-color: rgb(28, 38, 50);
}