.dashHeader {
  display: block;
  margin: 10px 10px 0px;
}

.botAnalytics-bots {
  width: 100%;
}

.botAnalytics-bots .bots {
  width: 80%;
  transition: 0.5s ease;
  margin-top: 20px;
  left: 5px;
}

.botAnalytics-bots .bots:hover {
  transition: 0.5s ease;
  left: 3%;
}

.botAnalytics-bots .botButtons {
  display: none;
}

.botAnalytics-bots .stockSymbol {
  background-color: red;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 10px;
}

.botAnalytics-bots .botName {
  background-color: aquamarine;
  width: 100px;
  width: auto;
  height: auto;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: large;
}

.stockData {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  left: 25%;
  margin-top: 5%;
  width: 300px;
}

.stockDataContainer {
  display: flex;
  margin-left: 15%;
}

.stockDataContainer p {
  margin-left: 10px;
}

.stockPrice {
  font-size: x-large;
}

.stockDollarChange,
.stockPercentChange {
  font-size: medium;
  margin-top: 5px;
}

.botAnalytics-bots .stockData {
  height: 100px;
  display: block;
  position: relative;
}

/* .failLoad {
  display: none;
} */

/* .stockData.errLoading .failLoad {
  display: block;
}

.stockData.errLoading .stockPrice {
  display: none;
} */
