.bots {
  background-color: lightgrey;
  border-radius: 25px;
  min-height: 200px;
  min-width: 200px;
  margin: 10px;
  text-align: center;
  position: relative;
  border: 2px solid black;
  box-shadow: 5px 10px black;
  transition: transform 0.3 ease;
}

.bots:hover:not(.modalOpen) {
  transition: 0.5s ease;
  transform: scale(1.05);
  box-shadow: 7px 12px rgb(28, 26, 26);
}

.stockSymbol {
  font-size: 50px;
  /* background: white; */
}

.botButtons {
  position: absolute;
  margin: 35px 0px 0px 140px;
  background-color: transparent;
}

/* delete bot btn styles */

.deleteBotBtn {
  background-color: transparent;
  border: none;
}

.deleteBotBtn :hover {
  background-color: white;
  border-radius: 5px;
  transition-duration: 0.5s;
}

/* edit bot button styles */
.openEditBotModal {
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.openEditBotModal :hover {
  background-color: white;
  border-radius: 5px;
  transition-duration: 0.5s;
}
