@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home-section {
  transition: transfrom 0.3s ease;
}

.newBotContainer {
  border-radius: 25px;
  min-height: 200px;
  min-width: 200px;
  margin: 10px;
  text-align: center;
  position: relative;
  border: 2px solid black;
  box-shadow: 5px 10px #8fb9e8;
  transition: transform 0.3 ease;
  font-weight: 10px;
  background: linear-gradient(135deg, #dcdcdc, #ffffff);
  color: #0b1c3d;
}

.newBotContainer:hover:not(.modalOpen) {
  transition: 0.5s ease;
  transform: scale(1.05);
  box-shadow: 7px 12px #007bff;
}

.openNewBotModal {
  width: 100px;
  height: 100px;
  background: linear-gradient(135deg, #8a8cf0, #ffffff);
  border-radius: 200px;
  align-items: center;
  border: none;
  background-image: url("./images/createBotImage.png");
  background-size: cover;
  transition: transfrom 0.3s ease;
  margin-left: 45px;
  
}

.newBotButton{
  margin: 0;
  padding: 0;
  position: absolute;
  left:0px;
  border-radius: 23px;
  width:100%;
  height:100%;
  box-shadow: none;
  border:none;
  box-shadow: none;

}

.maxNumBots{
  position: relative;
  text-align: center;
  width: 150px;
  margin-top: 10px;
  margin-left: 25px;
}

.marketClosedMessage {
  position: relative;
  text-align: center;
  width: 150px;
  margin-top: 10px;
  margin-left: 25px;
}
.newBotClosedImage{
  width: 100px;
  height: 100px;
  background: linear-gradient(135deg, #dcdcdc, #ffffff);
  border-radius: 200px;
  align-items: center;
  background-image: url("./images/createBotImage.png");
  background-size: cover;
  transition: transfrom 0.3s ease;
  margin-left: 45px;
  opacity: 25%;
}



.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: black;
}

.searchResults {
  list-style-type: none;
}

#searchButton {
  height: 40px;
  margin-top: 10px;
}

.greeting {
  margin: 10px 0px 10px 10px;
}

/* DASHBOARD DARK MODE STYLES */
.home-section.dark-dashboard,
.home-section.dark-dashboard .openNewBotModal {
  background-color: grey;
  transition: transfrom 0.3s ease;
  color: white;
}

.home-section.dark-dashboard .newBotContainer {
  box-shadow: 5px 10px black;
  transition: transform 0.3 ease;
  color: white;
  text-shadow: 1px 1px 1px black;
  background: linear-gradient(to bottom, #1a1a1a, #333333);
}

.home-section.dark-dashboard .newBotContainer:hover {
  transition: 0.3 ease;
  transform: scale(1.05);
  box-shadow: 5px 10px lightgrey;
}


.home-section.dark-dashboard .newBotButton{
  transition: transform 0.3 ease;
  color: white;
  text-shadow: 1px 1px 1px black;
  background: linear-gradient(to bottom, #1a1a1a, #333333);
}

.home-section.dark-dashboard .newBotContainer:hover:not(.modalOpen) {
  transition: 0.3 ease;
  transform: scale(1.05);
  box-shadow: 5px 10px lightgrey;
}
