@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home-section {
  transition: transfrom 0.3s ease;
}

.openNewBotModal {
  width: 100px;
  height: 100px;
  font-size: 100px;
  background-color: white;
  border-radius: 200px;
  align-items: center;
  border: none;
  background-image: url("./images/createBotImage.png");
  background-size: cover;
  padding: 10px;
  transition: transfrom 0.3s ease;
}

.openNewBotModal:hover {
  transform: scale(1.03);
}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: black;
}

.searchResults {
  list-style-type: none;
}

#searchButton {
  height: 40px;
  margin-top: 10px;
}

.greeting {
  margin: 10px 0px 10px 10px;
}



/* DASHBOARD DARK MODE STYLES */
.home-section.dark-dashboard,
.home-section.dark-dashboard .openNewBotModal {
  background-color: grey;
  transition: transfrom 0.3s ease;
  color: white;
}
