.companyName {
  color: rgb(48, 48, 174);
  font-size: 100px;
  z-index: 2;
  position: relative;
  margin: auto;
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
