.userDash {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* USER DASH PAGE Dark mode Styles */
.userDash.dark-mode {
  background-color: grey;
}

.botAnalytics {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.botAnalytics.dark-mode {
  background-color: grey;
}
