* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aliceblue;
  position: fixed;
  top: 5%;
  width: 100%;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: bisque;
}

canvas {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score {
  font-size: 50px;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  background-color: lightgrey;
  text-decoration: none;
  color: black;
  height:50px;
  width:100px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}

.backButton:hover{
    background-color: aliceblue;
    transition: 0.3s ease;
}
